@import url(../css/normalize.css);
@import url(../css/owl.carousel.min.css);
@import url(../css/owl.theme.default.min.css);
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-SemiBold.eot");
  src: local("Oswald SemiBold"), local("Oswald-SemiBold"), url("../fonts/Oswald/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-Regular.eot");
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-Medium.eot");
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswald/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.nav {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
}

.nav a {
  text-decoration: none;
  color: #262626;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block--bbn__white {
  font-family: Oswald, sans-serif;
  font-size: 72;
  font-weight: 600;
  line-height: 57px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 38px;
}

.block--h1 {
  font-family: Oswald, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 57px;
  color: #262626;
  margin-top: 0px;
  margin-bottom: 38px;
}

.block--name {
  font-family: Oswald, sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 38px;
  color: #262626;
  margin-top: 0px;
  margin-bottom: 19px;
}

.block--name::after {
  content: '';
  display: block;
  width: 100px;
  border-bottom: 5px solid #1A68FF;
  margin-top: 8px;
}

.block--h3 {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  color: #262626;
  margin-top: 0px;
  margin-bottom: 19px;
}

.block--paragraph {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #707070;
  margin-top: 0px;
  margin-bottom: 19px;
}

.block--paragraph_m {
  font-weight: 500;
  color: #262626;
}

.block--h1__white, .block--name__white, .block--h3__white, .block--paragraph__white {
  color: #FFFFFF;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1A68FF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page {
  max-width: 1920px;
  margin: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 60px 1fr 220px;
      grid-template-rows: 60px 1fr 220px;
  background-color: #ECECEC;
  background-image: url(../img/dot.svg);
  background-repeat: repeat;
  background-size: 17px;
}

.grid-cell {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 6px #00000030;
          box-shadow: 0 0 6px #00000030;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid-cell:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  margin: 0 60px;
}

.logo {
  -ms-grid-column: 1;
  grid-column: 1;
  background: url(../img/logo-color.svg) no-repeat;
}

.nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--list-child, .nav--phone {
  margin-right: 45px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav--list {
  padding: 0px;
  margin: 0px;
}

.nav--list-child {
  display: inline;
}

.nav--specials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--search-show {
  width: 18px;
  background-image: url(../img/search--icon.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
}

.nav--search-block {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.5);
  z-index: 10;
}

.nav--search-block input[type=text] {
  width: 100%;
  border: none;
  font-size: 16px;
}

.search--wrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECECEC;
  height: 60px;
  margin: auto;
  padding: 0 calc(30px * 2);
}

.nav--search-hide {
  width: 18px;
  height: 18px;
  margin-left: 30px;
  background-image: url(../img/cros.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
}

.main {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 30px;
  margin: 0 calc(30px * 2) 30px;
}

.slider {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #FFFFFF;
}

.slider--content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.slider--img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider--video {
  width: 100%;
}

.slider--description {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 30px;
  z-index: 1;
}

.buttons {
  background-color: #1A68FF;
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 0px;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
}

.buttons_slider {
  padding: 10px 50px 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttons_slider span::before, .buttons_slider span::after {
  border-right: 2px solid;
  content: '';
  display: block;
  height: 8px;
  margin-top: -6px;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 30px;
  top: 50%;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttons_slider span::after {
  margin-top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.buttons_slider:hover {
  color: #FFFFFF;
}

.buttons_slider:hover span::before, .buttons_slider:hover span::after {
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.propouse {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.propouse--img {
  width: 50px;
  margin: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.propouse--chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-bottom: dashed 2px black;
}

.propouse--chapter:hover .propouse--img {
  width: 80px;
  margin: calc(30px / 2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.propouse--chapter:last-child {
  border-bottom: none;
}

.sale {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/autumn-top.svg) left top no-repeat, url(../img/autumn-bottom.svg) right bottom no-repeat, radial-gradient(ellipse at center, #e68016 0%, #e61616 65%);
  padding: 30px;
}

.sale > div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.sale-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (220px)[3];
      grid-template-rows: repeat(3, 220px);
}

.product--child {
  background-color: #FFFFFF;
  position: relative;
}

.product--img-block {
  max-height: 300px;
}

.product--img {
  width: 100%;
}

.product--price .block--h3::after {
  content: url(../img/rub.svg);
  display: inline-block;
  width: 10px;
  margin-left: 3px;
}

.product--tag {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #E61616;
}

.product--tag .block--paragraph {
  margin: 5px 30px;
}

.product--child__s .product--tag, .product--child__m .product--tag, .product--child__v .product--tag {
  display: none;
}

.product--child__s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.product--child__m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--child__m .product--img {
  height: 100%;
  width: auto;
}

.product--child__l .product--description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.product--child__l .block--h3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.product--child__l .block--paragraph {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.product--child__l .product--price {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product--child__l .product--description {
  max-height: 110px;
}

.product--child__v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product--description {
  margin: 30px;
}

.product--price .block--h3 {
  margin: 0;
}

.product--stars {
  width: 105px;
  height: 20px;
  background: url(../img/stars.svg);
}

.product a:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.product a:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.product a:nth-child(3) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.product a:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.product a:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.product a:nth-child(6) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

.partners {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px calc(((100vw - 30px * 2 * 2 - 30px) / 2 ) - 30px * 3 - 135px);
      grid-template-columns: 135px calc(((100vw - 30px * 2 * 2 - 30px) / 2 ) - 30px * 3 - 135px);
  grid-gap: 30px;
  padding: 30px;
}

.partners .block--name {
  margin: 0;
}

.title-block {
  -ms-grid-column: 1;
  grid-column: 1;
}

.block-slider {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block-slider--child {
  opacity: 0.5;
}

.clients {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px calc(((100vw - 30px * 2 * 2 - 30px) / 2 ) - 30px * 3 - 135px);
      grid-template-columns: 135px calc(((100vw - 30px * 2 * 2 - 30px) / 2 ) - 30px * 3 - 135px);
  grid-gap: 30px;
  padding: 30px;
}

.clients .block--name {
  margin: 0;
}

.form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 4;
  grid-row: 4;
  padding: 30px;
}

.form--image {
  display: none;
}

.form--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form--inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
}

.fname {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.lname {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.phone {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.subject {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.fname, .lname, .phone, .subject {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.buttons_form {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

input[type=text], input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #707070;
  background-color: #ECECEC;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=text]:focus, input[type=tel]:focus, select:focus, textarea:focus {
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=text]:hover, input[type=tel]:hover, select:hover, textarea:hover {
  border-color: #1A68FF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttons_form {
  padding: 10px 50px 10px 30px;
  border: none;
  background-image: url(../img/send.svg);
  background-position: 80% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttons_form:hover {
  background-position: 90% 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.map {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / 11;
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map--container {
  width: calc(100% - 320px);
}

.map--description {
  width: 320px;
  padding: 30px;
}

.map--address, .map--phone, .map--e-mail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.map--address:first-child, .map--phone:first-child, .map--e-mail:first-child {
  -ms-grid-column: 1;
  grid-column: 1;
}

.map--address:last-child, .map--phone:last-child, .map--e-mail:last-child {
  -ms-grid-column: 2;
  grid-column: 2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #262626;
  -ms-grid-row: 3;
  grid-row: 3;
  padding: 30px calc(30px * 2);
}

.footer--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__footer {
  width: 100px;
}

.footer--copyright .block--paragraph {
  margin: 0;
  line-height: 0;
}

.footer--copyright .block--paragraph::before {
  content: "\00a9";
}

.footer--menu {
  -webkit-columns: 2;
          columns: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer--menu ul {
  list-style-type: none;
}

.footer--menu a {
  color: #FFFFFF;
}

.footer--menu-child {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 0;
}

.footer--submenu {
  margin: 0 0 20px 0;
  padding: 0;
}

.footer--submenu-child {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.footer--specials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer--socials .footer--socials-child {
  width: 30px;
  margin-right: 15px;
}

.footer--socials .footer--socials-child:last-child {
  margin-right: 0;
}

.footer--payments-types img {
  width: 30px;
  margin-right: 15px;
}

.footer--payments-types img:last-child {
  margin-right: 0;
}

@media all and (min-width: 1917px) {
  .main {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
}

@media all and (min-width: 1200px) and (max-width: 1916px) {
  .main {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .slider {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .propouse {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .sale {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .product {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .partners {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
        grid-template-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
  }
  .clients {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
        grid-template-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
  }
  .form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .map {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media all and (max-width: 1199px) {
  .slider--content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .slider--description {
    width: 100%;
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .slider--description .block--paragraph {
    width: 50%;
    text-align: right;
  }
  .header, .main {
    margin: 0 15px;
  }
  .grid-cell {
    margin-bottom: 15px;
  }
  .nav--list {
    display: none;
  }
  .footer, .propouse, .sale, .product--child, .partners, .clients, .form, .map--description {
    padding: 15px;
  }
  .main {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .product--child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .product--child .product--img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .product .product--child .product--img {
    width: 100%;
  }
  .product .product--child .product--description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners, .clients {
    -ms-grid-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
        grid-template-columns: 135px calc((100vw - 30px * 2 * 2) - 30px * 3 - 135px);
  }
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map--container {
    width: 100%;
  }
  .footer--menu {
    display: none;
  }
}
