@import "../css/normalize.css";
@import "fonts.css";
@import "../css/owl.carousel.min.css";
@import "../css/owl.theme.default.min.css";

// Color palette
	$main_color1: #E61616;
	$main_color2: #1A68FF;
	$main_color3: #262626;
	$main_color4: #707070;
	$main_color5: #ECECEC;
	$main_color6: #FFFFFF;

// Fonts style
	$font-family1: Oswald, sans-serif;
	$font-family2: Roboto, sans-serif;

	.nav {
		font-family: $font-family2;
		font-size: 15px;
		font-weight: 500;
		line-height: 19px;

		a {
			text-decoration: none;
			color: $main_color3;
			transition: 0.5s;
		}
	}

	.block--bbn {
		font-family: $font-family1;
		font-size: 200px;
		font-weight: 600;
		color: $main_color3;
		margin-top: 0px;
		margin-bottom: 38px;
	}

	.block--h1 {
		font-family: $font-family1;
		font-size: 56px;
		font-weight: 400;
		line-height: 57px;
		color: $main_color3;
		margin-top: 0px;
		margin-bottom: 38px;
	}

	.block--h2 {
		font-family: $font-family2;
		font-size: 47px;
		font-weight: 500;
		line-height: 69px;
		color: $main_color3;
		margin-top: 0px;
		margin-bottom: 19px;
	}

	.block--name {
		font-family: $font-family1;
		font-size: 35px;
		font-weight: 400;
		line-height: 38px;
		color: $main_color3;
		margin-top: 0px;
		margin-bottom: 19px;
		&::after {
			content: '';
			display: block;
			width: 100px;
			border-bottom: 5px solid $main_color2;
			margin-top: 8px;
		}
	}

	.block--h3 {
		font-family: $font-family2;
		font-size: 22px;
		font-weight: 500;
		color: $main_color3;
		margin-top: 0px;
		margin-bottom: 19px;
	}

	.block--paragraph {
		font-family: $font-family2;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		color: $main_color4;
		margin-top: 0px;
		margin-bottom: 19px;
	}

	.block--h2-paragraph {
		font-family: $font-family2;
		font-size: 18px;
		font-weight: 400;
		line-height: 23px;
		color: $main_color4;
		margin-top: 0px;
		margin-bottom: 19px;
	}

	.block--paragraph_m {
		font-weight: 500;
		color: $main_color3;
	}

	.block--h1__white, .block--name__white, .block--h3__white, .block--paragraph__white {
		color: $main_color6;
	}

// Global
	*, *::before, *::after {
		box-sizing: border-box;
	}

	html {
		min-height: 100vh;
		height: 100%;
	}

	a {
		text-decoration: none;
		&:hover {
			color: $main_color2;
			transition: 0.5s;
		}
	}

	.body-page {
		max-width: 1920px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 60px minmax(calc(100vh - 280px), 1fr) 220px;
		background-color: $main_color5;
		
	}

	.main--title {
		display: none;
	}

	// Grid Margin size block
		$grid-gap: 30px;
		$grid-gap_small: 15px;

		.grid-cell {
			background-color: $main_color6;
			box-shadow: 0 0 6px #00000030;
			border-radius: 3px;
			transition: 0.5s;
			&:hover {
				box-shadow: 0 1px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.05), 0 4px 4px 0 rgba(0,0,0,.05), 0 8px 8px 0 rgba(0,0,0,.05), 0 16px 16px 0 rgba(0,0,0,.05), 0 32px 32px 0 rgba(0,0,0,.05);
				transition: 0.5s;
			}
		}

		.page-header {
			grid-column: 1 / -1;
			grid-row: 1;
		}

// Header
	.header {
		grid-row: 1;
		display: grid;
		grid-gap: $grid-gap;
		grid-template-columns: repeat(10, 1fr);
		margin: 0 60px;
	}

	.logo {
		grid-column: 1;
		a {
			display: block;
			height: 100%;
		}
		img {
			width: 80px;
			height: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.input-toggler, .menu-toggler {
		display: none;
	}

	.nav {
		grid-column: 2 / 11;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav--list, #menu-menu {
		height: 100%;
		display: flex;
		padding: 0px;
		margin: 0px;
	}

	.menu-menu-container {
		height: 100%;
	}

	.nav--list-child, .nav--phone {
		margin-right: 45px;
		align-self: center;
	}

	.nav--list-child {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.current_page_item, .current-menu-item, .current-menu-parent {
		border-top: 3px solid $main-color2;
		a {
			color: $main-color2;
		}
	}

	.nav--specials {
		display: flex;
		justify-content: space-between;
	}

	.nav--search-show {
		width: 18px;
		height: 18px;
		background-image: url(../img/search--icon.svg);
		background-repeat: no-repeat;
		background-size: 18px;    
		cursor: pointer;
	}

	.nav--search-block {
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba($main-color3, 0.5);
		z-index: 10;
		input[type=text] {
			width: 100%;
			border: none;
			font-size: 16px;
		}
	}

	.search--wrapper {
		max-width: 1920px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $main-color5;
		height: 60px;
		margin: auto;
		padding: 0 calc(#{$grid-gap} * 2);
	}

	.nav--search-hide {
		width: 22px;
		height: 18px;
		margin-left: $grid-gap;
		background-image: url(../img/cros.svg);
		background-repeat: no-repeat;
		background-size: 18px;    
		cursor: pointer;
	}

// Main
	.main {
		grid-row: 2;
		display: grid;
		grid-template-rows: auto;
		grid-gap: $grid-gap;
		margin: 0 calc(#{$grid-gap} * 2) $grid-gap;
	}

	// Slider
		.slider {
			max-height: 600px;
			grid-column: 1 / 7;
			grid-row: 1;
			background-color: $main_color6;
		}

		.slider--content {
			max-height: 600px;
			display: grid;
			position: relative;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 100%;
		}

		.slider--backgrounds {
			grid-column: 1 / 6;
			grid-row: 1;
			height: 600px;
			position: relative;
			display: flex;
			align-items: center;
			video {
				z-index: 3;
			}
			.slider--img {
				position: absolute;
    			z-index: 2;
			}
		}

		.slider--description {
			grid-column: 4 / 6;
			grid-row: 1;
			align-self: center;
			margin: 0 $grid-gap 0 $grid-gap;
			z-index: 3;
			.block--h1 {
				font-size: 28px;
			}
		}

		.buttons {
			background-color: #1A68FF;
			display: inline-block;
			position: relative;
			font-family: $font-family2;
			font-size: 15px;
			font-weight: 500;
			color: $main_color6;
			margin-top: 0px;
			text-decoration: none;
			padding: 10px 30px;
			cursor: pointer;
		}

		.buttons_slider {
			padding: 10px 50px 10px 30px;
			span::before, span::after {
				border-right: 2px solid;
				content: '';
				display: block;
				height: 8px;
				margin-top: -6px;
				position: absolute;
				transform: rotate(135deg);
				right: 30px;
				top: 50%;
				width: 0;
				transition: 0.5s;
			}
			span::after {
				margin-top: -1px;
				transform: rotate(45deg);
			}
			transition: 0.5s;
			&:hover {
				color: $main_color6;
				span::before, span::after {
					right: 20px;
					transition: 0.5s;
				}
			}
		}

		.owl-nav {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: transparent;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		.owl-prev, .owl-next {
			&::after {
				content: "";
				display: block;
				width: 30px;
				height: 50px;
				margin: 0 15px;
				background: url(../img/arow.svg);
				opacity: 0.5;
				transition: 0.5s;
			}
			&:hover::after {
				opacity: 1;
				transition: 0.5s;
			}
		}
		.owl-next {
			&::after {
				transform: rotate(180deg);
			}
		}

		.owl-dots {
			position: absolute;
			bottom: 0;
			width: 100%;
			margin-bottom: $grid-gap_small;
			display: flex;
			justify-content: center;
			align-items: center;
			.active {
				width: 60px;
				height: 10px;
				opacity: 0.5;
				transition: 0.5s;
			}
		}

		.owl-dot {
			width: 30px;
			height: 5px;
			margin-right: $grid-gap_small;
			background-color: $main-color2;
			opacity: 0.3;
			transition: 0.5s;
			&:hover {
				opacity: 1;
			}
		}

	// Propouse
		.propouse{
			grid-column: 1 / 4;
			grid-row: 2;
			padding: $grid-gap;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.propouse--icon {
			display: flex;
			align-items: center;
		}

		.propouse--img {
			width: 50px;
			margin: $grid-gap;
			transition: 0.5s;
		}

		.propouse--chapter {
			display: flex;
			text-decoration: none;
			border-bottom: dashed 2px black;
			min-height: 130px;
			align-items: center;
			&:hover {
				.propouse--img {
					width: 80px;
					margin: calc(#{$grid-gap} / 2);
					transition: 0.5s;
				}
			}
			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
			}
		}

	// Sale
		.sale{
			grid-column: 7 / 11;
			grid-row: 1;
			display: flex;
			justify-content: center;
			background: url(../img/winter_top_left.svg) left top no-repeat, url(../img/winter_bottom_right.svg) right bottom no-repeat, url(../img/winter_snow.svg) center center no-repeat, radial-gradient(ellipse at center, #e68016 0%, #e61616 65%);
			background-position: center;
    		background-size: cover;
			padding: $grid-gap;
			&>div {
				align-self: center;
				text-align: center;
			}
		}

		.sale-block {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.block--counter {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: $grid-gap;
		}

		#tiles {
			display: flex;
			justify-content: center;
			& span {
				display: flex;
				justify-content: space-between;
				font-family: $font-family1;
				font-size: 72px;
				font-weight: 600;
				line-height: 57px;
				color: $main_color6;
				margin: 0 0 20px;
				&:nth-child(2n+1) {
					min-width: 80px;
					justify-content: center;
				}
				&:nth-child(2n) {
					min-width: 30px;
					justify-content: center;
				}
			}
		}

		.labels {
			display: flex;
			justify-content: center;
			li {
				width: 80px;
				display: inline;
				margin: 0 30px 0 0;
				text-align: center;
				&::before {
						content: '';
						display: block;
						width: 100%;
						border-bottom: 3px solid $main-color2;
						margin: auto;
				}
				&:last-child {
					margin: 0;
				}
			}
		}

	// Product
		.product{
			grid-column: 4 / 11;
			grid-row: 2;
			display: grid;
			grid-gap: $grid-gap;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(3, 220px);
		}

		.product--child {
			background-color: $main_color6;
			position: relative;
			.block--h3, .block--paragraph {
				margin-bottom: 10px;
			}
		}

		.product--linck {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}

		.product--img-block {
			max-height: 300px;
			flex: 1 50%;
		}

		.product--img {
			display: block;
			margin: auto;
			max-height: 95%;
			max-width: 95%;
			position: relative;
			transition: 0.5s;
			&:hover {
				max-height: 100%;
				max-width: 100%;
				transition: 0.5s;
			}
		}

		.product--description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: $grid-gap;
			.product--price{
				.block--h3 {
					margin: 0;
				}
			}
		}

		.product--description-block2 {
			width: 100%;
		}
	 
		.product--price, .market--price {
			display: flex;
			justify-content: space-between;
			width: 100%;
			.block--h3 {
				margin: 0;
				&::after {
					content: url(../img/rub.svg);
					display: inline-block;
					width: 10px;
					margin-left: 3px;
				}
			}
		}

		.product--tag {
			position: absolute;
			top: 30px;
			left: 0;
			background-color: $main_color1;
			.block--paragraph {
				margin: 5px 30px;
				&:empty {
					display: none;
				}
			}
		}

		.product--stars {
			display: none;
			width: 80px;
			height: 15px;
			background: url(../img/stars.svg);
		}

		.product div:nth-child(1) {
			grid-column: 1;
			grid-row: 1;
			a {
				flex-direction: column;
				justify-content: center;
				padding: $grid-gap;
			}
		}

		.product div:nth-child(2) {
			grid-column: 2 / 4;
			grid-row: 1;
			.product--description {
				flex: 2 50%;
			}
		}

		.product div:nth-child(3) {
			grid-column: 4 / 6;
			grid-row: 1 / 3;
			.product--linck {
				flex-direction: column;
			}
		}

		.product div:nth-child(4) {
			grid-column: 1 / 3;
			grid-row: 2 / 4;
			.product--linck {
				flex-direction: column;
			}
		}

		.product div:nth-child(5) {
			grid-column: 3 / 4;
			grid-row: 2 / 4;
			.product--linck {
				flex-direction: column;
			}
		}

		.product div:nth-child(6) {
			grid-column: 4 / 6;
			grid-row: 3;
			.product--description {
				flex: 2 50%;
			}
		}

	// Partners , Clients
		.partners {
			grid-column: 6 / 11;
			grid-row: 3;
			display: grid;
			grid-template-columns: 135px calc(((100vw - #{$grid-gap} * 2 * 2 - #{$grid-gap}) / 2 ) - #{$grid-gap} * 3 - 135px);
			grid-gap: $grid-gap;
			padding: $grid-gap;
			.block--name {
				margin: 0;
			}
		}

		.title-block {
			grid-column: 1;
		}

		.block-slider {
			grid-column: 2;
			align-self: center;
		}

		.block-slider--child {
			opacity: 0.5;
		}

		.clients{
			grid-column: 1 / 6;
			grid-row: 3;
			display: grid;
			grid-template-columns: 135px calc(((100vw - #{$grid-gap} * 2 * 2 - #{$grid-gap}) / 2 ) - #{$grid-gap} * 3 - 135px);
			grid-gap: $grid-gap;
			padding: $grid-gap;
			.block--name {
				margin: 0;
			}
		}

	// Form
		.form{
			grid-column: 1 / 5;
			grid-row: 4;
			padding: $grid-gap;
		}

		.form--image {
			display: none;

		}

		.form--content {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
		}

		.form--inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(4, 1fr);
			grid-gap: $grid-gap;
		}

		.fname {
			grid-column: 1;
			grid-row: 1;
		}

		.lname {
			grid-column: 1;
			grid-row: 2;
		}

		.phone {
			grid-column: 1;
			grid-row: 3;
		}

		.subject {
			grid-column: 2;
			grid-row: 1 / 4;
		}

		.fio, .email, .tel, .subject {
			font-family: $font-family2;
			font-size: 14px;
			font-weight: 400;
			color: $main_color4;
		}

		.buttons_form {
			grid-column: 2;
			grid-row: 4;
		}

		input[type=text], input[type=tel], input[type=email], select, textarea {
			width: 100%;
			padding: 12px;
			border: 2px solid $main_color4;
			background-color: $main_color5;
			border-radius: 4px;
			box-sizing: border-box;
			transition: 0.5s;
			&:focus {
				background-color: $main_color6;
				transition: 0.5s;
			}
			&:hover {
				border-color: $main_color2;
				transition: 0.5s;
			}
		}

		.buttons_form {
			padding: 10px 50px 10px 30px;
			border: none;
			background-image: url(../img/send.svg);
			background-position: 80% 50%;
			background-size: 20px;
			background-repeat: no-repeat;
			transition: 0.5s;
			&:hover {
				background-position: 90% 50%;
				transition: 0.5s;
			}
		}

	// Map
		.map{
			grid-column: 5 / 11;
			grid-row: 4;
			display: flex;
		}

		.map--container {
				width: calc(100% - 320px);
		}

		.map--description {
			padding: $grid-gap;
			background: $main-color6;
		}

		.map--address, .map--phone, .map--e-mail, .map--workers, .map--weekends {
			display: grid;
			grid-template-columns: 2fr 3fr;
			&:first-child {
				grid-column: 1;
			}
			&:last-child {
				grid-column: 2;
			}
		}

		.ymaps-2-1-72-controls-pane {
			display: none;
		}

	// Content-page
			.content-page {
				grid-row: 2;
				margin: 0 calc(#{$grid-gap} * 2) $grid-gap;
			}

	// Breadcrumbs
		.breadcrumbs {
			grid-column: 1 / -1;
			a {
				color: $main_color3;
				&:hover {
					color: $main_color2;
					transition: top 0.2s ease-in-out;
				}
			}
		}

	// Katalog
		.katalog {
			grid-column: 1 / -1;
			grid-row: auto;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: $grid-gap;
		}

		.katalog--child {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-height: 150px;
			padding: $grid-gap_small;
		}

		.katalog--child-image {
			width: 30%;
			display: flex;
			justify-content: center;
			img {
				width: 50%;
			}
			.block--h3 {
				margin: 0;
			}
		}

	// Market
		.market {
			grid-column: 1 / -1;
			grid-row: auto;
			display: grid;
			grid-gap: $grid-gap;
			grid-template-columns: repeat(5, 1fr);
		}

		.market--manufact {
			grid-column: 1 / -1;
		}

		.market--manufact-logo {
			height: 100%;
			img {
				max-height: 100px;
				height: 100%;
			}
		}

		.market--child {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.market--child-img {
			width: 100%;
			padding: $grid-gap $grid-gap 0 $grid-gap;
			a {
				display: flex;
			}
			a:focus {
				outline: none;
			}
			img {
				width: 100%;
				height: auto;
				align-self: center;
			}
		}

		.market--child-descr {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: $grid-gap;
			.block--h3 {
				a {
					color: $main-color3;
				}
			}
			.block--paragraph {
				overflow: hidden;
				max-height: 65px;
				height: 100%;
			}
		}

		.market--child-price {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.market--description {
			display: flex;
			justify-content: space-between;
		}

	// Product page
		:root {
			/* Set fade in duration */
			--fade-time: 0.5s;
		}

		.product-page {
			grid-column: 1 / 8;
			min-height: 600px;
			padding: 30px;
		}

		.product-page--product {
			display: flex;
		}

		.product-page--main-img {
			flex: 2 100%;
			max-width: 550px;
		}

		.product-page--main-img img {
			width: 100%;
		}

		.product-page--imgs {
			display: flex;
			flex-direction: column;
			flex: 1 100%;
			max-width: 115px;
			padding-right: 15px;
		}

		.product-page--img {
			margin-bottom: 15px;
			cursor: pointer;
		}

		.product-page--img-picture {
			width: 100%;
				border: 3px solid transparent;
				transition: 0.5s;
			&:hover {
				border: 3px solid $main-color2;
				transition: 0.5s;
			}
		}

		.product-page--info {
			flex: 3 100%;
			padding-left: 15px;
		}

		.product-page--info-button {
		    display: inline-block;
		    box-shadow: 0 1px 4px 0 rgba(117,117,117,.5);
		    margin-bottom: $grid-gap;
		    .block--h3 {
		    	font-size: 18px;
    			font-weight: 400;
		    	margin: 0;
		    }
		}

		.product-page--color {
			display: flex;
		}

		.product-page--color-wrapper {
			display: flex;
		}

		.product-page--color-child {
			width: 20px;
			height: 20px;
			margin-left: 10px;
			border: 2px solid $main-color4;
    		border-radius: 50%;
		}

		.product-page--descr-button, .product-page--texnical-button {
			cursor: pointer;
		    background: $main-color5;
		    padding: $grid-gap_small;
		    float: left;
		    border-bottom: 3px solid $main-color5;
		    transition: 0.5s;
		    &:hover {
		    	background: $main-color6;
		    	border-bottom: 3px solid $main-color6;
		    	transition: 0.5s;
		    }
			& .block--h3 {
				transition: 0.5s;
			}
			& .block--h3:hover {
				color: $main-color2;
				transition: 0.5s;
			}
		}

		.product-page--descr-button__active, .product-page--texnical-button__active {
			border-bottom: 3px solid $main-color2;
			background: $main-color6;
			transition: 0.5s;
			& .block--h3 {
				color: $main-color2;
				transition: 0.5s;
			}
		}		

		.product-page--price {
			.block--h3::after {
				content: url(../img/rub.svg);
				display: inline-block;
				width: 10px;
				margin-left: 3px;
			}
		}

		.product-page--manufacture-img {
			max-width: 150px;
		}

		.product-page--texnical {
			display: none;
			transition: 0.5s;
		}

		.product-page--texnical-chapter {
			display: flex;
			justify-content: space-between;
			margin-top: 10px
		}

		.product-page--option {
			display: inline-block;
			margin: 0;
			font-weight: 500;
		}

		.product-page--clearspace {
			flex-grow: 2;
			background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
			background-position: bottom;
			background-size: 4px 1px;
			background-repeat: repeat-x;
		}

		.product-page--character {
			text-align: right;
			display: inline-block;
			margin: 0;
		}

		.product-comments {
			grid-column: 8 / 11;
			padding: $grid-gap;
		}

		/* Fade in animation */
		@keyframes fadeIn {
			to {
				opacity: 1;
			}
		}

		.fade-in {
			opacity: 0;
			animation: fadeIn var(--fade-time) ease-in 1 forwards;
		}

		.img__border {
		    border: 3px solid $main-color2;
		    border-radius: 4px;
		}

		/* Media Queries */
		@media(max-width: 600px) {
			.product-page__imgs {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		
	// Propouse-page
		.propouse-page {
			grid-column: 1 / -1;
		    display: flex;
		    justify-content: space-around;
		}

		.propouse-page-child {
			grid-column: 1 / -1;
		}

		.propouse-page--child {
		    flex: 1;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    padding-right: $grid-gap;
		    &:nth-child(4n) {
				padding-right: 0;
		    }
		}

		.propouse-page--img-block {
		    display: flex;
		    justify-content: center;
		}

		.propouse-page--child-img {
			max-width: 160px;
			width: 100%;
		}

		.propouse-page--child-info {
			padding-top: $grid-gap;
			* {
				text-align: center;
			}
		}

		.propouse-page--content {
			display: flex;
			flex-wrap: wrap;
		}

		.propouse-page--descr {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    height: 100%;
		}

		.propouse-page--child-descr {
		    height: 100%;
		}

		.propouse-page--content-child {
		    width: calc(100vw / 4);
		}

	// Sale-page
		.sale-page {
			grid-column: 1 / -1;
		    display: flex;
		}

		.sale-page--child {
		    max-width: calc((100% - #{$grid-gap} * 3) / 4);
		    width: 100%;
		    margin: 0 $grid-gap $grid-gap 0;
    		background-color: white;
    		background-repeat: no-repeat;
    		background-position: left top;
    		background-size: 200%;
    		transition: 0.2s ease-in-out;
    		&:hover {
    			background-position: center center;
    			background-size: 80%;
    		}
    		&:nth-child(4n) {
    			margin-right: 0;
    		}
		}

		.sale-page--child-info {
			height: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
    		padding: $grid-gap;
    		background: linear-gradient(45deg, #e61616db, #1a68ff80);
		}

	// About-us
		.about-us {
			grid-column: 1 / -1;
		    display: flex;
		    flex-direction: column;
		    margin: auto;
		    &:nth-child(1n) > div {
		    	display: grid;
		    	grid-template-columns: repeat(10, 1fr);
		    	max-width: 1400px;
		    	margin: 0 auto $grid-gap;
		    }
		}

		.about-us--who_we {}

		.about-us--who_we-descr {
			grid-column: 1 / 5;
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    margin-right: $grid-gap;
		}

		.about-us--who_we-img {
			grid-column: 5 / 11;
		}

		.about-us--we_are {}

		.about-us--we_are-imgs {
			grid-column: 1 / 7;
			display: grid;
		    grid-template-columns: repeat(4, 1fr);
		    grid-template-rows: repeat(4, 1fr);
    		grid-gap: 30px;
		}

		.about-us--we_are-image {
			display: flex;
		    align-items: center;
		    justify-content: center;
		    padding: 5px;
		    background: $main-color6;
		}

		.about-us--we_are-descr {
			grid-column: 7 / 11;
			margin-left: $grid-gap;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    ul {
		    	margin: 0;
		    	li {
		    		margin-bottom: 5px;
		    	}
		    }
		}

		.about-us--we_propouse {
			margin-bottom: 0 !important;
		}

		.about-us--we_propouse-descr {
			grid-column: 1 / 6;
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    margin-right: $grid-gap;
		    ul {
		    	margin: 0;
		    	li {
		    		margin-bottom: 5px;
		    	}
		    }
		}

		.about-us--we_propouse-img {
			grid-column: 6 / 11;
		}

	// Kontacts-page
		.kontacts-page {
			grid-column: 1 / -1;
			display: flex;
			flex-wrap: wrap;
		}


		.map--city {
		    margin-bottom: 15px;
		    &::after {
    	    	content: "";
    			display: block;
    			border-bottom: 1px solid $main-color3;
		    }
		}
		
		.map--department {
			max-width: calc((100% - #{$grid-gap}) / 2);
		    width: 100%;
		    display: flex;
		    margin: 0 $grid-gap $grid-gap 0;
			&:nth-child(2n) {
		    	margin-right: 0;
		    }
			.map--container {
				width: 100%;
			}
			.map--description {
			    max-width: 320px;
			    width: 100%;
			}
		}

	// Search-block
		.codyshop-ajax-search {
		    position: fixed;
		    box-sizing: border-box;
		    background: #ececec;
		    display: none;
    		flex-wrap: wrap;
		    overflow-y: auto;
		    width: 100%;
		    top: 60px;
		    left: 0;
		    margin: 0;
			padding: 0 60px;
		}

		.search--block {
		    display: flex;
   			max-width: calc((100% - #{$grid-gap} * 3) / 4);
   			background: white;
    		padding: $grid-gap;
		    margin: 0 $grid-gap $grid-gap 0;
    		&:nth-child(4n) {
    			margin-right: 0;
    		}
		}

		.search--block-img {
			width: 100%;
			display: flex;
    		justify-content: center;
    		align-items: center;
    		padding-right: $grid-gap;
			img {
    			max-height: 100px;
    			max-width: 100px;
				width: auto;
			}
		}

		.search--block-error {
		    font-size: 72px;
		    height: 100%;
		    min-height: 500px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    font-family: Oswald, sans-serif;
		}

	// Baner-page
		.baner-page {
			grid-column: 1 / -1;
			display: flex;
			flex-wrap: wrap;
		}

	// Error-page
		.error-page {
		    grid-row: 2;
		    min-height: calc(100vh - 220px - 60px);
		    margin: 0 $grid-gap;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		}

// Footer
	.footer {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		background: $main_color3;
		grid-row: 3;
		padding: $grid-gap calc(#{$grid-gap} * 2);
	}

	.footer--logo {
		grid-column: 1;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.logo__footer {
		width: 100px;
	}

	.footer--copyright {
		grid-column: 1 / 4;
		grid-row: 2;
		.block--paragraph {
			margin: 0;
			&::before {
				content: "\00a9";
			}
		}
	}

	.footer--menu {
		grid-column: 2;
		grid-row: 1;
		columns: 4;
		margin: 0;
		padding: 0;
		list-style-type: none;
		ul {
			list-style-type: none;
		}
		a {
			color: $main-color6;
		}
	}

	.footer--menu-child {
		font-family: $font-family2;
		font-size: 15px;
		font-weight: 500;
		margin: 0 0 10px 0;
		padding: 0;
	}

	.footer--submenu {
		margin: 0 0 20px 0;
		padding: 0;
	}

	.footer--submenu-child {
		font-family: $font-family2;
		font-size: 14px;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	.footer--specials {
		grid-column: 3;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.footer--socials {
		display: flex;
		justify-content: flex-end;
		.footer--socials-child {
			width: 30px;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.footer--payments-types {
		justify-content: flex-end;
		img {
			width: 30px;
			margin-left: 15px;
			float: right;
			&:first {
				margin-left: 0;
			}
		}
	}

// Media biger then 1920px
	@media all and (min-width:1917px) {
		.main {
			grid-template-columns: repeat(10, 1fr);
		}
	}

// Media from 1200 to 1920
	@media all and (min-width:1200px) and (max-width:1916px) {
		.main {
			grid-template-columns: repeat(5, 1fr);
		}

		// Slider
			.slider {
				grid-column: 1 / 6;
				grid-row: 1;
			}

		// Propouse
			.propouse {
				grid-column: 1 / 3;
				grid-row: 2;
			}

		// Sale
			.sale {
				grid-column: 3 / 6;
				grid-row: 2;
			}

		// Products
			.product {
				grid-column: 1 / 6;
				grid-row: 3;
			}

		// Partners
			.partners {
				grid-column: 1 / 6;
				grid-row: 4;
				grid-template-columns: 135px calc((100vw - #{$grid-gap} * 2 * 2) - #{$grid-gap} * 3 - 135px);
			}

		// Clients
			.clients {
				grid-column: 1 / 6;
				grid-row: 6;
				grid-template-columns: 135px calc((100vw - #{$grid-gap} * 2 * 2) - #{$grid-gap} * 3 - 135px);
			}

		// Form
			.form {
				grid-column: 1 / 6;
				grid-row: 7;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
				padding: 0;
			}

			.form--image {
				grid-column: 1;
				grid-row: 1;
				display: block;
			}

			.form--content {
				padding: $grid-gap;
			}
		
		// Map
			.map {
				grid-column: 1 / 6;
				grid-row: 5;
			}

		// Product-page
			.product-page {
				grid-column: 1 / -1;
			}

			.product-comments {
				grid-column: 1 / -1;
			}

		// Katalog
			.katalog {
				grid-template-columns: repeat(3, 1fr);
			}

		// Market
			.market {
				grid-template-columns: repeat(4, 1fr);
			}

			.block--paragraph {
				line-height: 17px;
			}

			.market--child-img {
				padding: $grid-gap_small $grid-gap_small 0 $grid-gap_small;
			}

			.market--child-descr {
				padding: $grid-gap_small;
			}

		// Sale-page
			.sale-page--child {
			    max-width: calc((100% - #{$grid-gap_small} * 2) / 3);
				margin: 0 $grid-gap_small $grid-gap_small 0;
			    &:nth-child(3n) {
					margin-right: 0;
			    }
			}

		// Search-block
			.codyshop-ajax-search {
				padding: 0 $grid-gap_small;
			}

			.search--block-error {
				line-height: initial;
			}

			.search--block {
				max-width: calc((100% - #{$grid-gap_small} * 2) / 3);
			    margin: 0 $grid-gap_small $grid-gap_small 0 !important;
			    &:nth-child(3n) {
			    	margin-right: 0 !important;
			    }
			}

		// Product page

	}

// Media smaller then 1199px
	@media all and (max-width:1199px) {
		// Header
			.header, .main {
				margin: 0;
				padding: 0 15px;
				grid-gap: 0;
			}

			.header {
				background: $main-color5;
				height: 60px;
				position: fixed;
				top: 0;
				transition: top 0.2s ease-in-out;
				width: 100%;
				box-shadow: 0 0 6px #00000030;
				z-index: 10;
			}

			.nav--list, #menu-menu {
				height: auto;
			}

			.nav--phone {
				display: none;
			}

			.header-up {
				top: -60px;
				z-index: 10;
			}

		// Main
			.main {
				max-width: 100vw;
				display: flex;
				flex-direction: column;
				
			}

			.grid-cell {
				margin-bottom: $grid-gap_small;
			}

			//Sidebar menu
				.input-toggler, .menu-toggler {
					display: block;
				}

				$sidebar-width: 100%;
				$toggler-size: 30px;

				.nav, .content {
					transition: all .25s ease-out;
				}

				.nav {
					width: $sidebar-width;
					transform: translateX(calc(#{$sidebar-width} * -1));
					background: $main-color2;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: fixed;
					top: 0;
					left: 0;
					height: 100vh;
					opacity: .5;
					z-index: 5;
				}

				.nav--list, #menu-menu { 
					list-style-type: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.nav--list-child {
					margin: 0 0 15px 0;
					a {
						color: $main-color5;
					}
				}

				.menu-toggler {
					grid-column: 10;
					display: block;
					justify-self: flex-end;
					align-self: center;
					width: $toggler-size;
					height: calc(#{$toggler-size} / 1.5);
					position: relative;
					cursor: pointer;
					z-index: 6;
				}

				.menu-toggler__line {
					height: calc((#{$toggler-size} / 1.5) / 5);
					background: $main-color2;
					position: absolute;
					left: 0;
					right: 0;
					transition: all .25s ease-out;
				}

				.menu-toggler__line:nth-child(1) {  
					width: calc(#{$toggler-size} / 2);
				}

				.menu-toggler__line:nth-child(2) {  
					top: calc(((#{$toggler-size} / 1.5) / 5) * 2);
				}

				.menu-toggler__line:nth-child(3) {
					top: calc(((#{$toggler-size} / 1.5) / 5) * 4);
					width: calc(#{$toggler-size} / 1.25);
				}

				.input-toggler {
					position: absolute;
					left: -100%;
				}

				.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
					background: $main-color5;
				}

				.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {  
					transform: translateY(calc((#{$toggler-size} / 1.5) / 5 * 2)) rotate(45deg);
					width: 80%;
					height: calc(#{$toggler-size} / 10);
				}

				.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
					opacity: 0;
					height: calc(#{$toggler-size} / 10);
				}

				.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {  
					transform: translateY(calc((#{$toggler-size} / 1.5) / 5 * -2)) rotate(-45deg);
					width: 80%;
					height: calc(#{$toggler-size} / 10);
				}

				.input-toggler:checked ~ .nav {
					transform: translateX(0);
					opacity: 1;
				}

				.nav--specials {
					position: absolute;
					top: 0;
					margin-top: 20px;
					right: 60px;
				}
				.nav--search-show {
					background-image: url(../img/search--icon__white.svg);
				}

			//Slider
				.slider {
					margin-top: 15px;
				}

				.slider--content {
					grid-template-columns: 1fr;
				}

				.slider--backgrounds {
					justify-content: center;
					opacity: 0.5;
					video {
						width: 100%;
						max-height: 600px;
					}
				}

				.slider--description {
					height: 100%;
					width: 50%;
					margin: auto;
					padding: 15px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					grid-column: 1;
					.block--paragraph {
						width: 100%;
						text-align: center;
						color: $main-color3;
						font-size: 18px;
					}
				}

				@media all and (max-width:425px) {
					.slider--backgrounds {
						height: 400px;
						video {
							display: none;
						}
					}

					.slider--description {
						width: 100%;
					}
				}

			//Propouse
				.propouse--chapter {
					border: none;
					margin-bottom: $grid-gap_small;
				}

				@media all and (max-width:425px) {
					.propouse--chapter {
						&:hover {
							.propouse--img {
								width: 65px;
								margin: $grid-gap_small $grid-gap_small $grid-gap_small 0;
							}
						}
					}

					.propouse--img {
						margin: $grid-gap_small $grid-gap $grid-gap_small 0;
					}
				}

			#tiles {
				display: flex;
				justify-content: center;
				& span {
					display: flex;
					justify-content: space-between;
					font-family: $font-family1;
					font-size: 38px;
					font-weight: 600;
					line-height: 39px;
					color: $main_color6;
					margin: 0 0 10px;
					&:nth-child(2n+1) {
						min-width: 40px;
						justify-content: center;
					}
					&:nth-child(2n) {
						min-width: 20px;
						justify-content: center;
					}
				}
			}

			.labels {
				display: flex;
				justify-content: center;
				li {
					width: 40px;
					display: inline;
					margin: 0 20px 0 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					&::before {
							content: '';
							display: block;
							width: 100%;
							border-bottom: 3px solid $main-color2;
							margin: auto;
					}
					&:last-child {
						margin: 0;
					}
				}
			}

			//Products
				.product {
					display: flex;
					flex-wrap: wrap;
				}

				.product--child {
				    width: calc((100vw - #{$grid-gap_small} * 4) / 3);
				    margin-right: $grid-gap_small;
					&:nth-child(3n) {
						margin-right: 0;
					}
				}

				.product--img-block {
					width: 100%;
					flex: none;
				}

				.product--price {
				    flex-direction: row-reverse;
				}

				.product--description-block2 {
					text-align: right;
				}

				.product--child__m {
					.product--linck {
						flex-direction: column;
					}
				}
				.product--img {
					position: inherit;
					transform: none;
				}

				@media all and (max-width:768px) {
					.product--child {
					    width: calc((100vw - #{$grid-gap_small} * 3) / 2);
					    margin-right: $grid-gap_small;
						&:nth-child(3n) {
							margin-right: $grid-gap_small;
						}
						&:nth-child(2n) {
							margin-right: 0;
						}
					}
				}

				@media all and (max-width:424px) {
					.product--child {
					    width: 100%;
					    margin-right: 0;
						&:nth-child(n) {
							margin-right: 0;
						}
					}
				}

			//Propouse
				.propouse, .sale, .product--description, .product--child__s a, .partners, .clients, .form, .map--description, .footer {
					padding: 15px;
				}

			//Partners-Clients
				.partners, .clients {
					grid-template-columns: 1fr;
					grid-auto-rows: 1fr 1fr;
				}

				.title-block{
					width: 100%;
					grid-column: 1;
					grid-row: 1;
				}

				.block-slider{
					width: calc(100vw - 15px * 4);
					grid-column: 1;
					grid-row: 2;
				}

			//Form
				.form--inputs {
					grid-template-columns: 1fr;
					grid-template-rows: repeat(6, 1fr);
				}

				.fname {
					grid-column: 1;
					grid-row: 1;
				}

				.lname {
					grid-column: 1;
					grid-row: 2;
				}

				.phone {
					grid-column: 1;
					grid-row: 3;
				}

				.subject {
					grid-column: 1;
					grid-row: 4 / 6;
				}

				.buttons_form {
					grid-column: 1;
					grid-row: 6;
				}

			//Map
				.map {
					display: flex;
					flex-direction: column;
				}

				.map--container {
					width: 100%;
				}
		
		// Footer
			.footer {
				grid-template-columns: 1fr 3fr;
			}

			.footer--logo {
				grid-column: 1;
				grid-row: 1;
			}

			.footer--menu {
				display: none;
			}

			.footer--specials {
				grid-column: 2;
				grid-row: 1;
			}

			.footer--copyright {
				grid-column: 1 / 3;
				grid-row: 2;
				padding-top: 15px;
			} 

		// Content-page
			.content-page{
				margin: $grid-gap_small;
			}

		// Katalog
			.katalog {
				grid-template-columns: repeat(3, 1fr);
			}
			
			@media all and (max-width:1024px) {
				.katalog {
					grid-template-columns: repeat(2, 1fr);
				}
			
			}

			@media all and (max-width:768px) {
				.katalog {
					grid-template-columns: 1fr;
				}
			}

		// Market
			.market {
				grid-template-columns: repeat(4, 1fr);
				margin-bottom: $grid-gap_small;
				grid-gap: $grid-gap_small;
			}

			.block--paragraph {
				line-height: 17px;
			}

			.market--child-descr {
				padding: $grid-gap_small;
			}

			.market--child-img {
				padding: $grid-gap_small $grid-gap_small 0 $grid-gap_small;
			}

			@media all and (max-width:768px) {
				.market {
					grid-template-columns: repeat(3, 1fr);
					grid-gap: $grid-gap_small;
				}

				.market--manufact-logo img {
					max-height: 50px;
				}
			}

			@media all and (max-width:600px) {
				.market {
					grid-template-columns: repeat(2, 1fr);
				}
			}

			@media all and (max-width:425px) {
				.market {
					grid-template-columns: 1fr 1fr;
				}

				.market--child-img {
					padding: 0;
				}

				.market--child-descr > * {
					margin: 0;
				}
			}

			@media all and (max-width:320px) {
				.market {
					grid-template-columns: 1fr;
				}
			}

		// Propouse-page
			.propouse-page {
				flex-wrap: wrap;
				margin-bottom: $grid-gap_small;
			}

			.propouse-page--child {
				flex: none;
				max-width: calc((100% - #{$grid-gap_small} * 1) / 2);
				width: 100%;
				margin: 0 $grid-gap_small $grid-gap_small 0;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}

			@media all and (max-width:375px) {
				.propouse-page--child {
					max-width: 100%;
					&:nth-child(n) {
						margin-right: 0;
					}
				}
			}

		// Sale-page
			@media all and (max-width:1024px) {
				.sale-page--child {
				    max-width: calc((100% - #{$grid-gap_small} * 1) / 2);
					margin: 0 $grid-gap_small $grid-gap_small 0;
				    &:nth-child(2n) {
						margin-right: 0;
				    }
				}
			}

			@media all and (max-width:425px) {
				.sale-page--child {
				    max-width: 100%;
					margin: 0 $grid-gap_small $grid-gap_small 0;
				    &:nth-child(n) {
						margin-right: 0;
				    }
				}
			}

		// Kontacts-page
			.map--department {
				flex-direction: column;
				margin: 0 $grid-gap_small $grid-gap_small 0;
				.map--description {
					max-width: 100%;
				}
			}


			.map--container {
				height: 450px;
			}

			@media all and (max-width:1024px) {
				.map--department {
				    max-width: 100%;
				    margin: 0 $grid-gap_small $grid-gap_small 0;
				    &:nth-child(n) {
				    	margin-right: 0;
				    }
				}
			}

		// Search-block
			.nav {
				overflow: scroll;
			}

			.search--wrapper {
				padding: 0 calc(#{$grid-gap} * 2) 0 $grid-gap_small;
			}

			.codyshop-ajax-search {
				padding: 0 $grid-gap_small;
			}

			.search--block {
				max-width: calc((100% - #{$grid-gap_small} * 1) / 2);
			    margin: 0 $grid-gap_small $grid-gap_small 0;
			    &:nth-child(2n) {
			    	margin-right: 0;
			    }
			}

			.search--block-error {
				line-height: 1;
			}

			@media all and (max-width:600px) {
				.search--block {
					max-width: 100%;
				    margin: 0 $grid-gap_small $grid-gap_small 0;
				    &:nth-child(n) {
				    	margin-right: 0;
				    }
				}
			}

		// Product page
			.product-page{
				padding: $grid-gap_small;
			}

			@media all and (max-width:425px) {
				.product-page--product {
					flex-direction: column;
				}

				.product-page--imgs {
					flex-direction: row;
					max-width: 100%;
					padding: 0;
				}

				.product-page--img {
    				width: calc((100% - #{$grid-gap_small} * 3) / 4);
					margin: 0 $grid-gap_small 0 0;
					&:nth-child(4n) {
						margin-right: 0;
					}
				}

				.product-page--info {
					padding: 0;
				}
			}

		// Error-page
			.error-page {
			    margin: $grid-gap_small;
			}
	}

// EI style
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.body-page {
			grid-template-rows: 60px minmax(calc(100vh - 280px), 1fr) 220px;       
		}

		.logo img {
			position: relative;
			top: 50%;
			transform: translateY(5%);
		}

		.product--img {
			width: 100%;
			position: relative;
			top: none;
			transform: none;
		}
	}